<div class="issue">
  <div class="subject">
    <%= link_to_issue(issue_card, :tracker => false, :subject => true) %>
  </div>
  <hr />
  <div class="description">
    <div class="wiki">
      <%= textilizable(issue_card.description&.truncate(200), :headings => false) %>
    </div>
  </div>
</div>
