table.issues-panel {
  border: 1px solid #e4e4e4;
  width: 100%;
  margin-bottom: 4px;
  border-radius: 3px;
  border-spacing: 0;
  overflow: hidden;
  table-layout: fixed;
}

table.issues-panel th {
  background-color:#EEEEEE;
  padding: 4px;
  white-space:nowrap;
  font-weight:bold;
}

table.issues-panel td {
  vertical-align: top;
  background-color: #fffffb;
  border: 1px solid #e4e4e4;
}

.issue-card-receiver {
  border:1px dashed #fff;
  padding: 15px 0 0 0;
}

.ui-droppable-hover {
  border:2px dashed #aaa!important;
}

.issue-card {
  border: 1px solid #ddd;
  margin: 4px 8px 10px 8px;
  color: #505050;
  line-height: 1.5em;
  border-radius: 3px;
  background-color: #ffffdd;
  word-break: break-all;
}

.issue-card>.contextual {
  opacity: 0.001;
  transition: opacity 0.2s;
}

.issue-card:hover>.contextual {
  opacity: 1;
}

.issue-card[class~=ui-sortable-helper] {
  transform: rotate(10deg);
}

.issue-card .overdue .due_date .value {
  color: #c22;
}

.issue-card div.priority-lowest {
  box-shadow: 4px 0px 0px 0px #81D4FA inset;
}
.issue-card div.priority-high3 {
  box-shadow: 4px 0px 0px 0px #EF9A9A inset;
}
.issue-card div.priority-high2 {
  box-shadow: 4px 0px 0px 0px #E53935 inset;
}
.issue-card div.priority-highest {
  box-shadow: 4px 0px 0px 0px #E53935 inset;
}

.issue-card .card-content {
  padding: 8px;
  text-align: left;
  font-size: 0.9em;
  display: block;
}
.issue-card .card-content a {
  background-color: transparent;
  border: none;
}
.issue-card .closed {
  background-color: #fffff0;
}
.card-content .caption {
  float: left;
  padding-right: 2px;
}
.card-content .header a.closed {
  background-image: url(../../../images/true.png);
  background-repeat: no-repeat;
  padding-left: 18px;
}
.card-content .header .js-contextmenu {
  float: right;
}
.card-content .footer {
  padding-top: 4px;
}
.card-content .footer a {
  float: right;
}

.add-issue-card {
  background-color: #fff;
}

.issue-card-form {
  padding: 5:px;
}
.issue-card-form > #all_attributes > .splitcontentleft {
  flex: none;
}
.issue-card-form > #all_attributes > .splitcontentleft > p {
  padding-left: 100px;
}
.issue-card-form > #all_attributes > .splitcontentleft > p#issue_is_private_wrap {
  padding: 0px;
}
.issue-card-form > #all_attributes > .splitcontentleft p > label {
  margin-left: -100px;
  margin-right: 10px;
  width: 100px;
}
.issue-card-form > #all_attributes > .splitcontentleft > p > select#issue_tracker_id,select#issue_category_id,select#issue_fixed_version_id {
  max-width: 85%;
}
.issue-card-form > #all_attributes > .splitcontentleft a {
  display: inline-block;
}

body.controller-issues_panel .ui-widget-overlay+.ui-dialog+.ui-widget-overlay,
body.controller-issues_panel .ui-widget-overlay+.ui-widget-overlay {
  display: none;
}

#ajax-indicator {
  z-index: 120;
}

@media screen and (max-width: 899px) {
  .issue-card-form > #all_attributes > .splitcontentleft > p {
    padding-left: 0px;
  }
  .issue-card-form > #all_attributes > .splitcontentleft > p > label {
    margin-left: 0px;
    width: 100%;
  }
  .issue-card-form > div#all_attributes > div.splitcontentleft > p > select#issue_tracker_id {
    width: 100%;
    max-width: 100%;
  }
}
