table.issues-panel {
  border: 1px solid #e4e4e4;
  width: 100%;
  margin-bottom: 4px;
  border-radius: 3px;
  border-spacing: 0;
  overflow: hidden;
  table-layout: fixed;
}

table.issues-panel th {
  background-color:#EEEEEE;
  padding: 4px;
  white-space:nowrap;
  font-weight:bold;
}

table.issues-panel td {
  vertical-align: top;
  background-color: #fffffb;
  border: 1px solid #e4e4e4;
}

.issue-card-receiver {
  border:1px dashed #fff;
  padding: 15px 0 0 0;
}

.ui-droppable-hover {
  border:1px dashed #777!important;
}

.issue-card {
  border: 1px solid #ddd;
  margin: 4px 8px 10px 8px;
  color: #505050;
  line-height: 1.5em;
  border-radius: 3px;
  background-color: #ffffdd;
  word-break: break-all;
}

.issue-card>.contextual {
  opacity: 0.001;
  transition: opacity 0.2s;
}

.issue-card:hover>.contextual {
  opacity: 1;
}

.issue-card[class~=ui-sortable-helper] {
  transform: rotate(10deg);
}

.issue-card div.priority-lowest {
  box-shadow: 4px 0px 0px 0px #81D4FA inset;
}
.issue-card div.priority-high3 {
  box-shadow: 4px 0px 0px 0px #EF9A9A inset;
}
.issue-card div.priority-high2 {
  box-shadow: 4px 0px 0px 0px #E53935 inset;
}
.issue-card div.priority-highest {
  box-shadow: 4px 0px 0px 0px #E53935 inset;
}

.issue-card .card-content {
  padding: 8px;
  text-align: left;
  font-size: 0.9em;
  display: block;
}
.issue-card .card-content a {
  background-color: transparent;
  border: none;
}
.issue-card .closed {
  background-color: #fffff0;
}
.card-content .caption {
  float: left;
  padding-right: 2px;
}
.card-content .header a.closed {
  background-image: url(../../../images/true.png);
  background-repeat: no-repeat;
  padding-left: 18px;
}
.card-content .header .js-contextmenu {
  float: right;
}
.card-content .footer {
  padding-top: 4px;
}
.card-content .footer a {
  float: right;
}
